<div class="pagination">
    <span class="step-links">
        {% if page_popular_obj.has_previous %}
            <a href="{{ request.get_full_path }}&page_popular=1">&laquo; اولین</a>
            <a href="{{ request.get_full_path }}&page_popular={{ page_popular_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
            صفحه {{ page_popular_obj.number }} از {{ page_popular_obj.paginator.num_pages }}.
        </span>
        {% if 'filter' in request.GET or 'start_date' in request.GET  or 'page_comments' in request.GET or 'finish_date' in request.GET  or 'page' in request.GET  or 'page_view' in request.GET %}

            {% if page_popular_obj.has_next %}
                <a href="{{ request.get_full_path }}&page_popular={{ page_popular_obj.next_page_number }}">بعدی</a>
                <a href="{{ request.get_full_path }}&page_popular={{ page_popular_obj.paginator.num_pages }}">اخرین &raquo;</a>
            {% endif %}
        {% else %}
            {% if page_popular_obj.has_next %}
                <a href="?page_popular={{ page_popular_obj.next_page_number }}">بعدی</a>
                <a href="?page_popular={{ page_popular_obj.paginator.num_pages }}">اخرین &raquo;</a>
            {% endif %}
        {% endif %}
    </span>
</div>