{% extends 'account/base.html' %}
{% load static %}
{% block title %}ورود به حساب کاربری{% endblock title %}
{% block content %}
<section class="login-container">
    <h1 class="login-header">ورود به حساب کاربری</h1>
    <form action="{% url 'account:login' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="ورود">
    </form>
    <a class="login-footer" href="{% url 'account:register' %}">
        <i class="bi bi-box-arrow-in-right"></i>
        <p> ثبت نام</p>
    </a>
</section>
{% endblock content %}

